<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoostCommunicatorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BoostCommunicatorService.Properties.Settings.nav110_prdConnectionString"
            connectionString="Data Source=NAV-SQL1;Initial Catalog=nav110_prd;Persist Security Info=True;User ID=BDE;Password=BdeBusalt"
            providerName="System.Data.SqlClient" />
        <add name="BoostCommunicatorService.Properties.Settings.T1000_V01_V001ConnectionString"
            connectionString="Data Source=DBTRU01\TRUMPFSQL2;Initial Catalog=T1000_V01_V001;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BoostCommunicatorService.Properties.Settings>
            <setting name="TruTopsApi" serializeAs="String">
                <value>http://dbtru01:8999/trutops/api/</value>
            </setting>
        </BoostCommunicatorService.Properties.Settings>
    </userSettings>
</configuration>